{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AICTE Portal signup</title>

    <link rel="stylesheet" href="{% static './signup_style.css' %}">
   
</head>

<body>
    <marquee><H1>WELCOME TO TODO LIST SIGNUP PAGE</H1></marquee>
    <div class="conatiner1">
    <form class = "signup-form" action = "sign_up" method = "POST">{% csrf_token %}
        <h2><b>SIGN UP</b></h2>
        
        <input class = "s_name" name = "s_name" type = "text" placeholder = "Enter your name"><br><br>
        <input class = "s_password" name = "s_password" type = "password" placeholder = "Enter the password here"><br><br>
        <button class = "submit" onclick = "myFunction()">SUBMIT</a></button>
        <script>
            function myFunction() {
              alert("Successful signup");
            }
        </script>

    </form>
</div>
</body>

</html>